.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  h1 {
    font-weight: 500;
    font-size: 3.6rem;
    margin-bottom: 30px;
    color: rgba($color: #000000, $alpha: 0.5)
  }
  input {
    border: none;
    outline: none;
    border-bottom: 2px dashed rgba($color: #000000, $alpha: 0.1);
    padding: 7px 10px;
    font-size: 1.2rem;
    min-width: 300px;
    margin-bottom: 25px;
  }
  button {
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.05);
    color: rgba($color: #000000, $alpha: 0.5);
    cursor: pointer;
  }
}